<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Resgistration</h1>
  <form action="/user" method="post">
    <label for="servicename">Service Name</label>
    <input type="text" id="servicename" name="servicename"/>
   
    <button type="submit">Submit</button>
  </form>
</body>
</html>